In [ ]:
import pandas as pd
import os
import datetime as dt
os.chdir('/Users/Kef_f/Documents/')
cwd=os.getcwd()
df= pd.read_csv('fifa_eda.csv')

print(df.sample(20))
print('edad minima de los jugadores',df['Age'].min())
print('edad maxima de los jugadores',df['Age'].max())
print('edad media de los jugadores',df['Age'].mean())

df_pais=df.groupby('Nationality')['Age']
print('edad minima de los jugadores por pais',df_pais.min())
print('edad maxima de los jugadores por pais',df_pais.max())
print('edad media de los jugadores por pais',df_pais.mean())

           ID                Name  Age         Nationality  Overall  \
13037  245241         A. Bangoura   22              Guinea       63
15219  245986  Cristian Rodr√≠guez   22               Spain       60
9728   216023             M. Lepe   27               Chile       66
1802   239212            Carlitos   28               Spain       75
14489  239810           N. Raskin   17             Belgium       61
10185  182844            R. Grzyb   35              Poland       65
5885   189510             Jeffr√©n   30           Venezuela       69
13666  234671          J. Odgaard   19             Denmark       62
16129  242603         H. Marcelin   18              France       58
15444  238656           S. Tigges   19             Germany       59
12979  236775          W. Viitala   26             Finland       63
7217   241811        Sergio G√≥mez   17               Spain       68
12274  205877           M. Hancox   24             England       63
5061   241234         P. Mahlambi   20        South Africa       70
14095  236596           I. Hajtiƒá   20  Bosnia Herzegovina       61
14686  245774               Ota√±o   22               Spain       60
11174  236841          J. Cortizo   22              Mexico       64
1590   217097            R. Otero   25           Venezuela       75
4879   230686          J. Makengo   20              France       70
13107  236556           M. Hongla   20            Cameroon       62

       Potential                     Club   Value  Wage Preferred Foot  \
13037         71                 Al Fateh   550.0   5.0          Right
15219         70          Atl√©tico Madrid   325.0   5.0          Right
9728          66           CD Antofagasta   650.0   2.0          Right
1802          75           Legia Warszawa  7000.0  12.0          Right
14489         79                 KAA Gent   500.0   2.0           Left
10185         65    Jagiellonia Bia≈Çystok   130.0   2.0          Right
5885          69  Grasshopper Club Z√ºrich  1000.0   8.0           Left
13666         80                 Sassuolo   650.0   4.0           Left
16129         74               AJ Auxerre   240.0   1.0           Left
15444         69            VfL Osnabr√ºck   240.0   1.0           Left
12979         68                 Malm√∂ FF   350.0   1.0          Right
7217          87        Borussia Dortmund  1800.0   8.0           Left
12274         68       Milton Keynes Dons   400.0   3.0           Left
5061          84                      NaN     NaN   0.0          Right
14095         72    FC W√ºrzburger Kickers   375.0   1.0          Right
14686         70              CD Tenerife   260.0   1.0          Right
11174         72                Quer√©taro   675.0   2.0           Left
1590          76                 Al Wehda  8000.0  23.0          Right
4879          80                 OGC Nice  2800.0  12.0           Left
13107         70               Granada CF   400.0   1.0          Right

       International Reputation  Skill Moves Position  Joined  \
13037                       1.0          3.0       RM    2018
15219                       1.0          3.0      CAM    2016
9728                        1.0          2.0      RDM    2016
1802                        1.0          4.0       ST    2018
14489                       1.0          3.0       CM    2017
10185                       1.0          2.0      CDM    2010
5885                        1.0          3.0       RM    2017
13666                       1.0          3.0       ST    2018
16129                       1.0          2.0       CB    2018
15444                       1.0          2.0       RM    2016
12979                       1.0          1.0       GK    2018
7217                        1.0          3.0      CAM    2018
12274                       1.0          2.0      LWB    2018
5061                        1.0          3.0      CAM    2016
14095                       1.0          2.0       CB    2018
14686                       1.0          1.0       GK    2018
11174                       1.0          3.0       LW    2016
1590                        1.0          4.0       LM    2018
4879                        1.0          3.0       CM    2017
13107                       1.0          2.0       CB    2016

      Contract Valid Until    Height  Weight  Release Clause
13037           2021-01-01  5.750000   154.0     1000.000000
15219           2019-01-01  5.916667   154.0      731.000000
9728            2018-12-31  5.833333   170.0     4585.060806
1802            2021-01-01  5.750000   154.0     9800.000000
14489           2020-01-01  5.833333   161.0     1100.000000
10185           2019-01-01  5.750000   165.0      176.000000
5885            2019-01-01  5.666667   159.0     1500.000000
13666           2023-01-01  6.166667   176.0     1500.000000
16129           2023-01-01  6.500000   187.0      582.000000
15444           2019-01-01  6.416667   181.0      396.000000
12979           2018-01-01  6.250000   192.0      481.000000
7217            2021-01-01  5.583333   150.0     4100.000000
12274           2019-01-01  5.833333   157.0      730.000000
5061                   NaN  5.666667   154.0     4585.060806
14095           2020-01-01  6.333333   194.0      619.000000
14686           2020-01-01  6.000000   165.0      468.000000
11174           2020-01-01  5.666667   154.0     1300.000000
1590            2019-01-01  5.583333   137.0    14200.000000
4879            2022-01-01  5.833333   165.0     6000.000000
13107           2021-01-01  6.000000   170.0      720.000000
edad minima de los jugadores 16
edad maxima de los jugadores 45
edad media de los jugadores 25.122205745043114
edad minima de los jugadores por pais Nationality
Afghanistan    20
Albania        18
Algeria        19
Andorra        28
Angola         19
               ..
Uzbekistan     29
Venezuela      18
Wales          17
Zambia         18
Zimbabwe       22
Name: Age, Length: 164, dtype: int64
edad maxima de los jugadores por pais Nationality
Afghanistan    26
Albania        34
Algeria        35
Andorra        28
Angola         34
               ..
Uzbekistan     30
Venezuela      34
Wales          37
Zambia         29
Zimbabwe       34
Name: Age, Length: 164, dtype: int64
edad media de los jugadores por pais Nationality
Afghanistan    22.500000
Albania        24.025000
Algeria        27.050000
Andorra        28.000000
Angola         25.866667
                 ...
Uzbekistan     29.500000
Venezuela      24.313433
Wales          24.736434
Zambia         22.222222
Zimbabwe       26.846154
Name: Age, Length: 164, dtype: float64

In [10]:

#agregar dos jugadores ficticios

df1 =[{'ID':991,'Name':'Pedro Lopez', 'Age':33, 'Nationality':'Espa√±a','Overall': 80,'Potential':80,'Club': 'FC Barcelona', 'Value':12000,'Wage': 400,'Preferred Foot':'Left',
'International Reputation':5, 'Skill Moves':4, 'Position':'RF', 'Joined':2008, 'Contract Valid Until':'01/01/2022','Height':4.583,'Weight':160,
'Release Clause':20015},
{'ID':992,'Name':'Andre Pierre', 'Age':28, 'Nationality':'Portugal','Overall': 60,'Potential':70,'Club': 'Porto', 'Value':10000,'Wage': 300,'Preferred Foot':'Right',
'International Reputation':3, 'Skill Moves':3, 'Position':'RF', 'Joined':2010, 'Contract Valid Until':'01/01/2032','Height':5.1,'Weight':140,
'Release Clause':10015}]

# Convert the list of new rows to a DataFrame
new_df = pd.DataFrame(df1)

# Concatenate the original DataFrame with the new DataFrame
df = pd.concat([df, new_df], ignore_index=True)
print(df.tail)

print(df.describe())

<bound method NDFrame.tail of            ID               Name  Age Nationality  Overall  Potential  \
0      158023           L. Messi   31   Argentina       94         94
1       20801  Cristiano Ronaldo   33    Portugal       94         94
2      190871          Neymar Jr   26      Brazil       92         93
3      193080             De Gea   27       Spain       91         93
4      192985       K. De Bruyne   27     Belgium       91         92
...       ...                ...  ...         ...      ...        ...
18206  246269          G. Nugent   16     England       46         66
18207     991        Pedro Lopez   33      Espa√±a       80         80
18208     992       Andre Pierre   28    Portugal       60         70
18209     991        Pedro Lopez   33      Espa√±a       80         80
18210     992       Andre Pierre   28    Portugal       60         70

                      Club     Value   Wage Preferred Foot  ...  Joined  \
0             FC Barcelona  110500.0  565.0           Left  ...    2004
1                 Juventus   77000.0  405.0          Right  ...    2018
2      Paris Saint-Germain  118500.0  290.0          Right  ...    2017
3        Manchester United   72000.0  260.0          Right  ...    2011
4          Manchester City  102000.0  355.0          Right  ...    2015
...                    ...       ...    ...            ...  ...     ...
18206      Tranmere Rovers      60.0    1.0          Right  ...    2018
18207         FC Barcelona   12000.0  400.0           Left  ...    2008
18208                Porto   10000.0  300.0          Right  ...    2010
18209         FC Barcelona   12000.0  400.0           Left  ...    2008
18210                Porto   10000.0  300.0          Right  ...    2010

       Contract Valid Until    Height  Weight Release Clause  \
0                2021-01-01  5.583333   159.0       226500.0
1                2022-01-01  6.166667   183.0       127100.0
2                2022-01-01  5.750000   150.0       228100.0
3                2020-01-01  6.333333   168.0       138600.0
4                2023-01-01  5.916667   154.0       196400.0
...                     ...       ...     ...            ...
18206            2019-01-01  5.833333   176.0          165.0
18207            01/01/2022  4.583000   160.0        20015.0
18208            01/01/2032  5.100000   140.0        10015.0
18209            01/01/2022  4.583000   160.0        20015.0
18210            01/01/2032  5.100000   140.0        10015.0

                                             CountryCode       Capital  \
0      Country(alpha_2='AR', alpha_3='ARG', flag='üá¶üá∑'...  Buenos Aires
1      Country(alpha_2='PT', alpha_3='PRT', flag='üáµüáπ'...        Lisbon
2      Country(alpha_2='BR', alpha_3='BRA', flag='üáßüá∑'...     Bras√≠lia
3      Country(alpha_2='ES', alpha_3='ESP', flag='üá™üá∏'...        Madrid
4      Country(alpha_2='BE', alpha_3='BEL', flag='üáßüá™'...      Brussels
...                                                  ...           ...
18206                                               None          None
18207                                               None          None
18208  Country(alpha_2='PT', alpha_3='PRT', flag='üáµüáπ'...        Lisbon
18209                                                NaN           NaN
18210                                                NaN           NaN

       country_code                                        Zonahoraria  \
0                AR  [America/Argentina/Buenos_Aires, America/Argen...
1                PT  [Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...
2                BR  [America/Noronha, America/Belem, America/Forta...
3                ES     [Europe/Madrid, Africa/Ceuta, Atlantic/Canary]
4                BE                                  [Europe/Brussels]
...             ...                                                ...
18206          None                                               None
18207          None                                               None
18208            PT  [Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...
18209           NaN                                                NaN
18210           NaN                                                NaN

      Candidato
0            SI
1            SI
2            SI
3            SI
4            SI
...         ...
18206        NO
18207        NO
18208        NO
18209       NaN
18210       NaN

[18211 rows x 23 columns]>
                  ID           Age       Overall     Potential          Value  \
count   18211.000000  18211.000000  18211.000000  18211.000000   17959.000000
mean   214251.486299     25.123387     66.239526     71.308110    2446.435770
std     30128.240828      4.670257      6.909985      6.136513    5627.556977
min        16.000000     16.000000     46.000000     48.000000      10.000000
25%    200305.500000     21.000000     62.000000     67.000000     325.000000
50%    221753.000000     25.000000     66.000000     71.000000     700.000000
75%    236528.000000     28.000000     71.000000     75.000000    2100.000000
max    246620.000000     45.000000     94.000000     95.000000  118500.000000

               Wage  International Reputation   Skill Moves        Joined  \
count  18211.000000              18163.000000  18163.000000  18211.000000
mean       9.806051                  1.113858      2.361559   2016.418978
std       22.579611                  0.396587      0.756306      2.021021
min        0.000000                  1.000000      1.000000   1991.000000
25%        1.000000                  1.000000      2.000000   2016.000000
50%        3.000000                  1.000000      2.000000   2017.000000
75%        9.000000                  1.000000      3.000000   2018.000000
max      565.000000                  5.000000      5.000000   2018.000000

             Height        Weight  Release Clause
count  18211.000000  18211.000000    18211.000000
mean       5.946528    165.975619     4587.351881
std        0.221131     15.573570    10630.628852
min        4.583000    110.000000       13.000000
25%        5.750000    154.000000      571.000000
50%        5.916667    165.000000     1300.000000
75%        6.083333    176.000000     4585.060806
max        6.750000    243.000000   228100.000000

In [ ]:
#agregar columna en donde en base al pais se agregara la zona horaria 
import pytz
import pycountry
from countryinfo import CountryInfo # type: ignore
from country_capitals import get_capital

def get_country_code(country_name):
        try:
            return pycountry.countries.lookup(country_name).alpha_2
        except LookupError:
            return None
def Obtener_capital(country_name):
    try:
         return get_capital(country_name)
    except:
         return None
          
def ZonaHoraria(country_name):
     try:
          return pytz.country_timezones[country_name]
     except:
          return None
     
#obtengo la capital de cada pais
df['Capital']=df['Nationality'].apply(lambda x:Obtener_capital(x))

#obtengo el codigo de cada pais 
df['country_code'] = df['Nationality'].apply(lambda x:get_country_code(x))

#con el codigo de cada pais obtengo la zona horaria
df['Zonahoraria']=df['country_code'].apply(lambda x:ZonaHoraria(x))

print(df['country_code'])
print(df['Capital'])
print(df['Zonahoraria'])

0          AR
1          PT
2          BR
3          ES
4          BE
         ...
18204    None
18205    None
18206    None
18207    None
18208      PT
Name: country_code, Length: 18209, dtype: object
0        Buenos Aires
1              Lisbon
2           Bras√≠lia
3              Madrid
4            Brussels
             ...
18204            None
18205            None
18206            None
18207            None
18208          Lisbon
Name: Capital, Length: 18209, dtype: object
0        [America/Argentina/Buenos_Aires, America/Argen...
1        [Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...
2        [America/Noronha, America/Belem, America/Forta...
3           [Europe/Madrid, Africa/Ceuta, Atlantic/Canary]
4                                        [Europe/Brussels]
                               ...
18204                                                 None
18205                                                 None
18206                                                 None
18207                                                 None
18208    [Europe/Lisbon, Atlantic/Madeira, Atlantic/Azo...
Name: Zonahoraria, Length: 18209, dtype: object

In [9]:
#agregar columna CANDIDATO si tiene potencial > 85 es considerado candidato

df['Candidato'] =  df['Potential'].apply(lambda x: "SI" if int(x) >85 else "NO" )

print(df['Candidato'])

0        SI
1        SI
2        SI
3        SI
4        SI
         ..
18204    NO
18205    NO
18206    NO
18207    NO
18208    NO
Name: Candidato, Length: 18209, dtype: object